<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dom Selector</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/default.css" />

    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>

    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
</head>
<body>
    <div class="container-fluid"><!-- FULL WIDTH -->
        <div class="row" >
            <div class="col-md-9 border no-padding"  ng-controller="FrameController">
                <div id="url">
                    <form action="javascript:void(0);">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="url" placeholder="{{url}}" id="site-url"  ng-enter="go()" />
                        </div>
                    </form>
                </div>
                <div id="content" >
                    <iframe src="{{ frameUrl }}" width="100%" height="100%" scrolling="yes" id="frame"></iframe>
                    <!-- Put this another site content without frame -->
                </div>
            </div>
            <div class="col-md-3 " ng-controller="NavigationController">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <!--<label for="attribute">Атрибут:</label>-->
                        <select class="form-control" id="attribute" value="attribute" >
                            <option value="{{ attr.get('id') }}" ng-repeat="attr in Attributes" disabled="{{ attr.get('disabled') }}">{{ attr.get('title') }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Применить</button>
                    <button type="submit" class="btn btn-default">Создать атрибут</button>
                </form>
            </div>
        </div>
    </div>

    <script src="js/default.js"></script>
    <script src="js/ext/directives.js"></script>
    <script src="js/models.js"></script>

    <script src="js/main.js"></script>
</body>
</html>