<div id="url">
  <form action="javascript:void(0);">
    <div class="frame-type-control">
      <input type="text" class="form-control" ng-model="url" placeholder="Введите адрес сайта" id="site-url"  ng-enter="go()" />
      <div>
        <label><input type="checkbox" name="frame-origin" ng-change="go()" ng-model="smartFrame"> Умная загрузка</label>
      </div>
    </div>
  </form>
</div>
<div id="content" >
  <iframe src="" width="100%" height="100%" scrolling="yes" id="frame"></iframe>
  <!-- Put this another site content without frame -->
</div>
